html, body{
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}
.botoes{
    position: fixed; 
    bottom: 0;
    left: 50%; 
    transform: translateX(-50%); 
    background-color: #D9D9D9;
    display: flex;
    flex-wrap: wrap; 
    justify-content: center;
    padding: 50px;
    gap: 40px; 
    width: 45%;
    border-radius: 120px 120px 0px 0px;
    bottom: 0;
}
a{
    text-decoration: none;
}

.botao-menu{
    position: relative;
    border: none;
    font-family: poppins;
    font-size: 20px;
    border-radius: 40px;
    height: 190px;
    width: 190px;
    margin: 10px;
    padding: 15px 15px;
    box-sizing: border-box;
}
.botao-menu:hover{
    background-color: #42d874;
    transition: all ease-in-out 0.4s;
    cursor: pointer;
}
.botao-menu:not(:hover){
    background-color: #323232;
    transition: all ease-in-out 0.4s;
}
div.single-input{
    width: 100%;
    margin: 30px 0px;
    position: relative;
}
div.single-input .label{
    font-size: 15px;
    position: absolute;
    left: 0;
    bottom: 5px;
    color: #ffffff;
    cursor: text;
    transition: 0.4s ease-in-out;
}
div.single-input .input{
    width: 100%;
    background-color: #323232;
    color: #ffffff;
    border: 0;
    border-bottom: 2px solid #ffffff;
    outline: 0;
    font-size: 15px;
}
div.single-input .input:focus,
div.single-input .input:valid{
    border-bottom: 2px solid #42d874;
}
div.single-input .input:focus ~ label,
div.single-input .input:valid ~ label{
    color: #42d874;
    transform: translateY(-24px);
    font-size: 12px;
    transition: 0.4s ease-in-out;
}
.form {
    border-radius: 90px;
    background-color: #323232;
    padding: 50px;
    width: 30%;
    z-index: 2;
    font-family: poppins;
}
.form h1{
    color: white;
}
input{
    font-family: poppins;
}
.botao{
    font-family: poppins;
    font-size: 15px;
    width: 20%;
    height: 40px;
    background-color: #ffffff;
    border-radius: 10px;
    border: none;
    color: #323232;
    margin: 1%;
}
.botao:hover{
    background-color: #42d874;
    color: white;
    cursor: pointer;
    transition: all 0.2s ease-in;
}
.botao:not(:hover){
    background-color: #ffffff;
    transition: all 0.2s ease-in;
}
.botao:active{
    transform: scale(0.9);
}
h1{
    color: #000;
}
select{
    border: none;
    font-family: poppins;
    outline: none;
    border-radius: 5px;
    background-color: #323232;
    color: #ffffff;
    border: 2px solid #ffffff;
}
select:valid{
    color: #ffffff;
    border: 2px solid #42d874;
}
main{
    display: flex;
    justify-content: center;
    margin-top: 5%;
}