.botoes{
    background-color: #ffffff;
    border: 2px #000 solid;
    height: 98.8vh;
}
a{
    text-decoration: none;
}

.botao-menu{
    position: relative;
    background-color: #000;
    color: #000;
    border: none;
    font-family: poppins;
    font-size: 20px;
    border-radius:50px;
    height: 280px;
    width: 280px;
    margin: 10px;
    padding-left: 20px;
    padding-top:5px;
}
.botao-menu:hover{
    background-color: #ff0008;
    color: #FFFFFF;
    transition: all ease-in-out 0.4s;
    cursor: pointer;
}
.botao-menu:not(:hover){
    background-color: #000;
    color: #ff0008;
    transition: all ease-in-out 0.4s;
}
div.single-input{
    width: 100%;
    margin: 30px 0px;
    position: relative;
}
div.single-input .label{
    font-size: 15px;
    position: absolute;
    left: 0;
    bottom: 5px;
    color: #000;
    cursor: text;
    transition: 0.4s ease-in-out;
}
div.single-input .input{
    width: 100%;
    color: #ff0008;
    border: 0;
    border-bottom: 2px solid #000;
    outline: 0;
    font-size: 15px;
}
div.single-input .input:focus,
div.single-input .input:valid{
    border-bottom: 2px solid #ff0008;
}
div.single-input .input:focus ~ label,
div.single-input .input:valid ~ label{
    transform: translateY(-24px);
    font-size: 12px;
    transition: 0.4s ease-in-out;
}
.form {
    margin: 0 auto; 
    border: #000 2px solid;
    padding: 50px;
    width: 30%;
    z-index: 2;
    font-family: poppins;
}
input{
    font-family: poppins;
}
.botao{
    font-family: poppins;
    font-size: 15px;
    width: 20%;
    height: 40px;
    border: 2px solid #000;
    border-radius: 10px;
    color: #000;
    margin: 1%;
}
.botao:hover{
    background-color: #ff0008;
    border: #ff0008;
    color: white;
    cursor: pointer;
    transition: all 0.2s ease-in;
}
.botao:not(:hover){
    background-color: white;
    color: #000;
    transition: all 0.2s ease-in;
}
.botao:active{
    transform: scale(0.9);
}
h1{
    color: #000;
}
select{
    border: none;
    font-family: poppins;
    outline: none;
    border-radius: 10px;
}
select:valid{
    color: #ff0008;
}
select:valid ~ label{
    color: #ff0008
}
